
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #00ff8c;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$black			: #000;

$grad-start		: rgba(60,64,143,.95);
$grad-end		: rgba(91, 97, 207, 0.95)



